:root {
  --dark-gray: #222;
  --white: #fff;
  --dark-yellow: #f3cf00;
  --light-yellow: #ecd656;

  --spacing-small: 4px;
  --spacing-medium: 8px;
  --spacing-large: 16px;
  --spacing-extra-large: 28px;

  --heading-padding: var(--spacing-medium) var(--spacing-medium);
  --content-padding: var(--spacing-large) var(--spacing-medium) var(--spacing-extra-large) var(--spacing-medium);

  --radius: 5px;
}

body {
  background-color: var(--dark-gray);
  color: var(--white);

  font-family: "Helvetica Neue", sans-serif;
  margin: var(--spacing-large);
}
